#zoomWrapper{
    position:absolute;
    top: 25px;
    right: 30px;
    height: 130px;
    width: 65px;
    margin:0;
    background-color: lightgray;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgb(160, 158, 158); 
}